h1 {
    font-family: sans-serif;
    font-style: italic;
}
p {
    
    font-size: 30px;
}

img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    object-position: 50% 50%;
    position: relative;
}
body{
    text-align: center;
    background: silver;
}